<div class="container-fluid">
  <h3 style="text-align:center;">Welcome to Employee app!</h3>
  <hr>
  <div class="row">
    <div class="col-md-12">
        <app-form (formData)="onAdding($event)"></app-form>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-12">
        <app-projectmanager [dataarray]="pmempformdata"></app-projectmanager>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-12">
        <app-developer [dataarray]="devempformdata"></app-developer>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-12">
        <app-designer [dataarray]="designerempformdata"></app-designer>
      </div>
    </div>
</div>